<%= doc_title '/people/recover_password' %>
<p>
  A resource for fetching password recovery email.
</p>

<%  methods = [ { :name => "POST",
                 :description => "Finds user based on email and posts recovery email to user.",
                 :parameters => [ { :email => "User email. User is searched from database based on email and
                                               if user is found email containing link for resetting password is sent."} ],
                 :returns => {"200" => "Returns ok if user is found and email is sent.",
                              "404" => "Returns not found if record is not found from database."}
}]%>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>