<%= doc_title '/people/reset_password' %>
<p>
  A resource for resetting password. Please use the form provided by ASI.
</p>

<%  methods = [ { :name => "POST",
                 :description => "Resets user password.",
                 :parameters => [ { :id => "Id created by user id and salt. Done on server side."},
                                  { :password => "New password."},
                                  { :confirm_password => "Confirmation password"}],
                 :returns => {"200" => "Message of successful or unsuccessful attempt."}
}]%>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>
