<h1><code>/people/&lt;user_id&gt;/@friends</code></h1>
<p>
  A resource for accessing the friends of the user specified by <tt>user_id</tt>
</p>

<p>All the methods except GET require that the user with <tt>user_id</tt> is logged in &ndash; otherwise, 
<em>403 forbidden</em> is returned.</p>

<% methods = [ { :name => "POST", 

                 :description => "Adds new friend to the user. Friendship connection is first added with status <em>pending</em> and changed to accepted when the friend accepts the request.", 
                 #TODO make pending/requersted more clearly explained...
                 
                 :parameters => [ { :friend_id => "Id for the person that will be added to current user's friends " },
                                
                                ] },

               { :name => "GET", 
                 :description => "Gets the list of the user's friends",
                 
               },
                           
                  ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>
<ul>
<li>
  <a href="doc/people/user_id/@friends/friend_id"><tt>/people/&lt;user_id&gt;/@friends/&lt;friend_id&gt;</tt></a> &ndash; 
  friends of a specific user
</li>
</ul>
