<%= doc_title '/people/&lt;user_id&gt;/@groups' %>
<p>
  A resource for accessing a single user's groups
</p>

<% methods = [ 
                { :name => "GET", 

                 :description => "Returns an array of all the groups where the user is a member." },                
               
               {
                 :name => "POST",
                 :description => "Add the person specified by <tt>user_id</tt> to a group. 
                                 (The user_id must refer to the person who is logged in.)",
                 :parameters => [{
                                    :group_id => "The id of the target group."
                                }],
                  :returns => { "200" => "The join was successful.", "409" => "The user is already a member of this group." } }
              ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>
<ul>
<li>
  <a href="doc/people/user_id/@groups/group_id"><tt>/people/&lt;user_id&gt;/@groups/&lt;group_id&gt;</tt></a> &ndash; 
  A user's membership in a group
</li>
</ul>
