<%= doc_title '/people/&lt;user_id&gt;/@groups' %>
<p>
  A resource for accessing a single user's groups.
</p>

<% methods = [ 
                { :name => "GET", 

                 :description => "Returns an array of all the groups where the user is a member." },                
               
               {
                 :name => "POST",
                 :description => "Attempts to add the person specified by <tt>user_id</tt> to a group. If the group is closed and <tt>user_id</tt> is logged in, a membership request is sent.
                                  If <tt>user_id</tt> is not logged in, an invitation is sent to <tt>user_id</tt> &ndash; but only if the group is open or the logged in user is an admin of the group.",
                 :parameters => [{
                                    :group_id => "The id of the target group."
                                }],
                  :returns => { "200" => "The join was successful.", "409" => "The user is already a member of this group." }
                },
              ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>
<ul>
<li>
  <a href="doc/people/user_id/@groups/group_id"><tt>/people/&lt;user_id&gt;/@groups/&lt;group_id&gt;</tt></a> &ndash; 
  A user's membership in a group
</li>
</ul>
