<%= doc_title '/people/&lt;user_id&gt;/@location' %>
<p>
  A resource for accessing the location of the user specified by <tt>user_id</tt>.
</p>

<% methods = [ { :name => "PUT",

                 :description => "Sets the location of the user. If only some of the fields are updated, rest will be set to null. The modified user must be logged in OR specify username and password.",

                 :parameters => [ { :location_security_token => "Security token for updating location without logging in."},
                                  { :location => [ { :latitude  => "Latitude coordinates in Decimal Degree format" },
                                  { :longitude => "Longitude coordinate sin Decimal Degree format" },
                                  { :label     => "Text label given to current location" },
                                  { :accuracy  => "Accuracy of the location"} ] },
                                ] },
              {
                                :name => "POST",
                                :description => "Works the same way as PUT."
                          },
                          {
                :name => "GET",
                :description => "Gets the location of the user. The returned structure is similar to PUT-methods parameter structure",
              },
             ]
 %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2> Subresources </h2>

<ul>
  <li>
    <a href="doc/people/user_id/@location/@location_security_token"><tt>/people/&lt;user_id&gt;/@location/@location_security_token</tt></a> &ndash; a client and user specfic security token for updating location without logging the user in
  </li>
</ul>
