<h1><code>/people/&lt;user_id&gt;/@self</code></h1>
<p>
  A resource for accessing a single user specified by <tt>user_id</tt>
</p>

<p>All the methods except GET require that the user with <tt>user_id</tt> is logged in &ndash; otherwise, 
<em>403 forbidden</em> is returned.</p>

<% methods = [ 
                { :name => "GET", 

                 :description => "Gets the information of the user specified by <tt>user_id</tt>"},                
               
               {
                 :name => "PUT",
                 :description => "Update (or add) information to user's profile. The <em>person</em>-parameter needs to contain only the attributes that need to be changed." +
									 " If an error occurs, both status code and an array of error messages are returned.",
                 :parameters => [{
                                    :person => [
                                          {:password => "The user's password."},
                                          {:status_message => "Person's current status message."},
                                          {:birthdate => "Person's birthdate as date."},
                                          {:gender    => "Person's gender, either MALE or FEMALE."},
                                          {:name => [
                                            {:given_name  => "Person's given name."},
                                            {:family_name => "Person's family name."}
                                          ]},
                                          
                                    ]
                                }],
                              
                  :error_messages => { "[Attribute] is too long" => "Given name, family name and status message can't be longer than 255 characters.",
                                       "Gender must be MALE or FEMALE" => "If gender is given, it must be male or female.",
                                       "Birthdate is invalid" => "Birthdate must be of correct form."}              
               },
               
               { :name => "DELETE", 
                  :description => "Deletes the user identified by <tt>user_id</tt>." } ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>
