<h1><code>/people</code></h1>
<p>
  A resource for accessing the users of OtaSizzle.
</p>

<% methods = [ { :name => "GET",
                 :description => "Finds users based on their (real) names.",
                 :parameters => [ { :search => "The search term. Every user whose name matches the regular expression
                                                <code>/.*search.*/</code> will be returned. However, all characters in the
                                                search term are interpreted as literals rather than special regexp 
                                                characters." } ] },

               { :name => "POST", 

                 :description => "Creates a new user.", 

                 :parameters => [ { :username => "The desired username. Must be unique in the system. Length 4-20 characters." },
                                  { :password => "User's password." },
                                  { :email    => "User's email address. Must be valid."} ] },

               
                  
                  ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>
<ul>
<li>
  <a href="people/user_id/@self"><tt>/people/&lt;user_id&gt;/@self</tt></a> &ndash; single user
</li>
<li>
  <a href="people/user_id/@friends"><tt>/people/&lt;user_id&gt;/@friends</tt></a> &ndash; 
  friends of a specific user
</li>
<li>
  <a href="people/user_id/@location"><tt>/people/&lt;user_id&gt;/@location</tt></a> &ndash; 
  location of a specific user
</li>

</ul>
