<h1><code>/people/&lt;user_id&gt;/friends/&lt;friend_id&gt;</code></h1>
<p>
  A resource for the accessing a single friend of the user speciefied by <tt>user_id</tt>
</p>

<p>The method requires that the user with <tt>user_id</tt> is logged in &ndash; otherwise, 
<em>403 forbidden</em> is returned.</p>

<% methods = [ { :name => "DELETE", 

                 :description => "Removes the person specified by <tt>friend_id</tt> from the friends of the user specified by <tt>user_id</tt>", 
                }  
              ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>
</ul>