<h1><code>/appdata</code></h1>

<p>Resources for application-specific data. Applications can save user-specific key&ndash;value data and generic data 
collections.</p>

<h2>Subresources</h2>
<ul>
<li>
  <a href="doc/appdata/app_id/@collections"><tt>/appdata/&lt;app_id&gt;/@collections</tt></a> &ndash; generic collections of data
</li>
<ul><li><a href="doc/appdata/app_id/@collection_items/item_id"><tt>/appdata/&lt;app_id&gt;/@collection_items/&lt;item_id&gt;</tt></a> &ndash; a single item stored in some collection</li></ul>
<li>
  <a href="doc/appdata/user_id/@self/app_id"><tt>/appdata/&lt;user_id&gt;/@self/&lt;app_id&gt;</tt></a> &ndash; 
  user-specific key&ndash;value data
</li>
</ul>
