<%= doc_title '/channels' %>

<p>A resource for accessing channels in OtaSizzle</p>

<%
methods = [ { :name => "GET", 
							:description => "List channels matching any of the parameters.",
							:parameters => [ { :search => "Search term for text search from channel name and description." },
								 							 { :group_id => "Group id." },
															 { :user_id => "User id." }
														 ],
							:returns => { "200" => "List of matching and accessible channels or all channels if search terms are omitted."} }, 
						{	:name => "POST",
							:description => "Create a channel. Parameters are optional.",
							:parameters => [ { :name => "Channel name" },
															 { :description => "Channel description" },
															 { :owner => "Channel owner. Defaults to current user."}, 
															 { :user_subscriptions => "List of user ids subscripted to the channel."},
															 { :group_subscriptions => "List of group ids subscripted to the channel." },
															 { :type => "Channel type. Hidden or public."}
															],
							:returns => { "201" => "Created. Response contains created channel.",
														"401" => "Login required.",
								 						"400" => "Malformed request." } 
							} ]

%>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>

<ul>
	<li><a href="doc/channels/channel_id"><tt>/channels/&lt;channel_id&gt;</tt></a> &ndash; A single channel.</li>
	<li><a href="doc/channels/channel_id/@messages"><tt>/channels/&lt;channel_id&gt;/@messages</tt></a> &ndash; Messages for a channel.</li>
	<li><a href="doc/channels/channel_id/@messages/msg_id"><tt>/channels/&lt;channel_id&gt;/@messages/&lt;msg_id&gt;</tt></a> &ndash; Single message</li>
</ul>