<%= doc_title '/groups' %>
<p>
  A resource for accessing the groups of OtaSizzle. There will be four types of groups <em>open</em>, <span class="not_implemented"><em>closed</em>, <em>hidden</em> and <em>personal</em></span>
</p>
<p><strong>Open</strong> groups can be publicly listed and all users are free to join.</p>
<div class='not_implemented'>
<p><strong>Closed</strong> groups can be listed publicly, but users can not join directly. They can request
   membership that must be approved by group admins or they can be invited by an admin.</p> 
<p><strong>Hidden</strong> groups are not visible in public listings or in peoples profiles. Otherwise similar to closed groups.</p>
<p><strong>Personal</strong> groups are visible only to the creator. He can add people in 
  personal groups, but even the added people will not know this. Personal groups can be used to categorize friends etc.</p>    
</div>


<% methods = [ { :name => "POST", 

                 :description => "Creates a new group. The creator is automatically added to the new group as an admin.", 

                 :parameters => [ {:title => "The title (or name) of the group."},
                                  {:type => "Can be <code>open</code>, <span class='not_implemented'><code>closed</code>, <code>hidden</code> or <code>personal</code></span>"},
                                  {:description => "A descriptive text for the group (optional)"}
                                ], 

                 :returns => { "201" => "Created. The response includes also the information for the group, for example the group GUID as <code>id</code>.",
                               "400" => "There was an error in one of the parameters."
                              },

                 :error_messages => { "Title is too short" => "Title length must be at least #{Group::TITLE_MIN_LENGTH} characters.",
                                      "Title is too long" => "Title length must be at most #{Group::TITLE_MAX_LENGTH} characters.",
                                      "Description is too long" => "Description length must be at most #{Group::DESCRIPTION_MAX_LENGTH} characters.",
                                      "Title has already been taken" => "Each group must have a unique title. The uniqueness check is case-insensitive." }
                 
                 
                              
                  } ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>
<ul>
  <li>
    <a href="doc/groups/@public"><tt>/groups/@public</tt></a> &ndash; All the public groups
  </li>
  <li>
    <span class="deprecated"><a href="doc/groups/group_id"><tt>/groups/&lt;group_id&gt;</tt></a> &ndash; A single group (Deprecated)</span>
  </li>
  <li>
    <a href="doc/groups/@public/group_id"><tt>/groups/@public/&lt;group_id&gt;</tt></a> &ndash; A single group
  </li>
   
</ul>
