<h1><code>/people</code></h1>
<p>
  A resource for accessing the users of OtaSizzle.
</p>

<% methods = [ { :name => "GET",
                 :description => "Finds users based on their (real) names.",
                 :parameters => [ { :search => "The search term. Every user whose name matches the regular expression
                                                <code>/.*search.*/</code> will be returned. However, all characters in the
                                                search term are interpreted as literals rather than special regexp 
                                                characters." } ] },  
                                                
               { :name => "POST", 

                 :description => "Creates a new user. If creation is succesful the current app-only session is changed to be
                                  associated also to the user that was just created.", 

                 :parameters => [ :person => [ { :username => "The desired username. Must be unique in the system. Length 4-20 characters." },
                                  { :password => "User's password." },
                                  { :email    => "User's email address. Must be valid."} ] ], 

                  :returns => { "201" => "Ok. The response includes also the information for the user, for example the user GUID as <code>id</code>.",
                            "400" => "Unable to save the person in the database because of inadequate request.
                            All error messages are returned in an array in the response body.",
                            "409" => "Session already exists for some users. Creation of new users is only possible with app-only session." },
                              
                 :error_messages => { "Username is invalid" => "Username must contain only letters, numbers and underscores.",
                                       "Email is invalid" => "Email must be a valid email address.",
                                       "Username has already been taken" => "Username is already in use in OtaSizzle.",
                                       "Email has already been taken" => "Username is already in use in OtaSizzle.",
                                       "Username is too short" => "Username must be at least 4 characters long.",
                                       "Username is too long" => "Username must be no more than 20 characters long.",
                                       "[Attribute] is too long" => "Given name, family name and status message can't be longer than 255 characters."} } ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>
<ul>
  <li>  
    <a href="doc/people/user_id/@self"><tt>/people/&lt;user_id&gt;/@self</tt></a> &ndash; a user's profile
  </li>
  <li>
    <a href="doc/people/user_id/@avatar"><tt>/people/&lt;user_id&gt;/@avatar</tt></a> &ndash; 
    a user's profile picture
  </li>
  <li>
    <a href="doc/people/user_id/@friends"><tt>/people/&lt;user_id&gt;/@friends</tt></a> &ndash; 
    a user's friend list
  </li>
  <li>
    <a href="doc/people/user_id/@pending_friend_requests"><tt>/people/&lt;user_id&gt;/@pending_friend_requests</tt></a> &ndash; 
    a user's pending friend requests
  </li>
  <li>
    <a href="doc/people/user_id/@location"><tt>/people/&lt;user_id&gt;/@location</tt></a> &ndash; 
    a user's location
  </li>
</ul>
