<h1><code>/people</code></h1>
<p>
  A resource for accessing the users of OtaSizzle.
</p>

<% methods = [ { :name => "GET",
                 :description => "Finds users based on their (real) names.",
                 :parameters => [ { :search => "The search term. Every user whose name matches the regular expression
                                                <code>/.*search.*/</code> will be returned. However, all characters in the
                                                search term are interpreted as literals rather than special regexp 
                                                characters." } ], 
								
								 :returns => { "404" => "Person with the given username doesn't exist." } },	

               { :name => "POST", 

                 :description => "Creates a new user.", 

                 :parameters => [ { :username => "The desired username. Must be unique in the system. Length 4-20 characters." },
                                  { :password => "User's password." },
                                  { :email    => "User's email address. Must be valid."} ], 

               	 :returns => { "201" => "Ok.",
															 "500" => "Unable to save the person in the database." } },
			
                  ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>
<ul>
  <li>
    <a href="doc/people/user_id/@self"><tt>/people/&lt;user_id&gt;/@self</tt></a> &ndash; a user's profile
  </li>
  <li>
    <a href="doc/people/user_id/@avatar"><tt>/people/&lt;user_id&gt;/@avatar</tt></a> &ndash; 
    a user's profile picture
  </li>
  <li>
    <a href="doc/people/user_id/@friends"><tt>/people/&lt;user_id&gt;/@friends</tt></a> &ndash; 
    a user's friend list
  </li>
  <li>
    <a href="doc/people/user_id/@location"><tt>/people/&lt;user_id&gt;/@location</tt></a> &ndash; 
    a user's location
  </li>
</ul>
