<h1><code>/session</code></h1>

<p>
  A resource for logging in and out.
</p>

<% methods = [ { :name => "POST", 

                 :description => "Starts a new session. If you want to start the session only for the application,
                                  leave the username and password parameters completely out.", 

                 :parameters => [ { :app_name => "The application's name." },
                                  { :app_password => "The application's password." },
                                  { :username => "The user's name (optional)." },
                                  { :password => "The user's password (optional)." } ],
                 :returns => { "401" => "Erroneuous authentication token(s).",
                               "409" => "A session already exists." }  },

               { :name => "DELETE", 
                 :description => "Ends the current session." } ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

