<h1><code>/appdata/&lt;app_id&gt;/@collection_items/&lt;item_id&gt;</code></h1>

<p>A shortcut for ( <a href="doc/appdata/app_id/@collections/id/@items/item_id">
  <tt>/appdata/&lt;app_id&gt;/@collections/&lt;id&gt;/@items/&lt;item_id&gt;</tt></a>),
   a single item {item_id} in some collection. Since the item_id is unique, there is no
  need to know the collection id. This shortcut can't be used for reference items, because
  those can be referenced from multiple different places. Use the 
  <a href="doc/appdata/app_id/@collections/id/@items/item_id">longer url</a> instead.</p>

<% returns = { "200" => "",
               "403" => "The current combination of application and user is not allowed to change this item.",
               "404" => "The item with the specified id does not exist." }

   methods = [ 
                #{ :name => "GET",
                # :description => "Returns this item.",
                # :returns => returns.merge({ "403" => returns["403"].gsub("change", "see") }) },


               { :name => "DELETE",
                 :description => "Deletes the item. Cannot be used for <i>collection reference</i> items.",
                 :returns => returns.merge({ "403" => returns["403"].gsub("change", "delete") }) } ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>