body {
    width : 600px;
    margin : auto;
    margin-top : 4em;
    font : medium Verdana, sans-serif
}

h1, h2 {
    font-family : Helvetica, Arial, sans-serif
}

h1 {
    text-align : center;
    margin-bottom : 1em;
}

h2, h3 {
    margin-top : 1.5em;
}

table {
    font-size : small
}

th.inner_parameters {
    border-right : 1px solid black;
    width : 20%;
    padding : 0;

}

div.inner_parameters {
    border-bottom : 1px solid black;
    width : 100%
}

tt {
    background-color : #eeeeee;
    padding : 2px;
}

th {
    text-align : left;
    vertical-align : top;
    padding-right : 2em;
    width : 25%;
}

div.method {
    margin-left : 2em;
}

div.footer {
    font-size : x-small;
    text-align : right;
    margin-top : 4em;
}