<a href="/api">&laquo; Back to index</a>
<%= doc_title '/people' %>




  <div style="padding:30px; padding-top:0px;border-bottom:1px solid #ddd;">
  
  
  <h2><span style='color:#ff6600; width:200px;margin-right:20px;'>GET</span></h2>
  
  
  <strong>Access:</strong> FREE<br />

  
  <strong>Return codes:</strong>
  <ul>
  
  </ul>
  

  
  <strong>Return:</strong>
  
  
  
    a list of
    
     
  
    <a href="#json" onclick="$('jsonrep').show();">JSON</a>
  
  
  
  
  -
   The returned JSON contains always an 'entry' slot, which contains a list of found people or an empty list if no user was found. Returned people JSON:s are similar to normal person JSON with extra information about the connection between the searcher and the person in the result list. (key: 'connection', possible values: 'none'/'friend'/'requested'/'pending'/'you') 
  <br />
  
  
  <strong>Parameters:</strong>
  <ul>
  <li>search - the search term. Every user whose name matches the regular expression /.*search.*/ will be returned. However, all characters in the search term are interpreted as literals rather than special regexp characters.</li>
  </ul>
  <p><strong>Description:</strong> 
Finds users based on their (real) names.
</p>
</div>




  <div style="padding:30px; padding-top:0px;border-bottom:1px solid #ddd;">
  
  
  <h2><span style='color:#ff6600; width:200px;margin-right:20px;'>POST</span></h2>
  
  
  <strong>Access:</strong> FREE<br />

  
  <strong>Return codes:</strong>
  <ul>
  <li>200 - OK</li>
  </ul>
  

  
  <strong>Return:</strong>
  
  
  
    a list of
    
     
  
    <a href="#json" onclick="$('jsonrep').show();">JSON</a>
  
  
  
    <a href="#xml"  onclick="$('xmlrep').show();">XML</a>
  
  
  -
   Returned value jee.
  <br />
  
  
  <strong>Parameters:</strong>
  <ul>
  <li>search - the search term. Every user whose name matches the regular expression /.*search.*/ will be returned. However, all characters in the search term are interpreted as literals rather than special regexp characters.</li>
  </ul>
  <p><strong>Description:</strong> 
Finds users based on their (real) names.
</p>
</div>






