<%= doc_title '/appdata/&lt;user_id&gt;/@self/&lt;app_id&gt;' %>

<p>A resource for application-specific key-value data concerning a single user. This resource exists implicitly for every
user and application &ndash; 
therefore, <tt>POST</tt> is not allowed.</p>

<% methods = [ { :name => "GET", 
                 :description => "Gets every key-value pair that has been saved for this user by this application and returns them in json's entry-field.",
                 :returns => { "200" => "Ok.",
                               "403" => "The application with <code>app_id</code> or the user with <code>user_id</code>
                                         is not logged in." } },

               { :name => "PUT", 
                 :description => "Adds new key-value pairs about this user. If previous data with the same key (or keys)
                                  exists, the previous data is overwritten with the data provided.", 
                 :parameters => [ { :data => "Key-value pairs to be saved." } ],
                 :returns => { "200" => "Ok. The updated dataset is returned in json's entry -field.",
                               "403" => "The application with <code>app_id</code> or the user with <code>user_id</code>
                                         is not logged in." } } ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>
