<%= doc_title '/appdata/&lt;app_id&gt;/@collections/&lt;id&gt;/@items/&lt;item_id&gt;' %>

<p>A resource for a single item {item_id} in a collection {id}. There is also a shorcut for this in
  <a href="doc/appdata/app_id/@collection_items/item_id">
    <tt>/appdata/&lt;app_id&gt;/@collection_items/&lt;item_id&gt;</tt></a>
    which can be used without the collection id.</p>

<% returns = { "200" => "",
               "403" => "The current combination of application and user is not allowed to change this item.",
               "404" => "The item with the specified id does not exist." }

   methods = [ 
                #{ :name => "GET",
                # :description => "Returns this item.",
                # :returns => returns.merge({ "403" => returns["403"].gsub("change", "see") }) },


               { :name => "DELETE",
                 :description => "Deletes the item. If the item is a reference to a collection, only the reference is
                                  deleted, not the referenced collection.",
                 :returns => returns.merge({ "403" => returns["403"].gsub("change", "delete") }) } ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>