<h1><code>/groups/@public/&lt;group_id&gt;</code></h1>

<p>
  A resource for accessing a single group specified by <tt>group_id</tt>
</p>

<% methods = [ { :name => "GET", 
                 :description => "Gets the available information of the group (without the member list). ",
                 :returns => { "200" => "Ok. The response body contains the group JSON."}
                 
               },
               { :name => "PUT", 
	                 :description => "Changes group information. The logged-in user must be an admin of this group. All parameters are optional &ndash; leave out the ones you do not wish to change.",
                 :parameters => [ :group => [ { :title => "A new title for the group. Must be at least #{Group::TITLE_MIN_LENGTH} character and at most #{Group::TITLE_MAX_LENGTH} characters."},
                                              { :description => "A new description for the group. Can be blank, must be at most #{Group::DESCRIPTION_MAX_LENGTH} characters." } ]],
                 :returns => { "200" => "Ok. The response body contains the new group JSON.",
                               "403" => "The logged-in user is not an admin of this group.", 
                               "400" => "The new group information is invalid." },
                 :error_messages => { "Title is too short" => "Title length must be at least #{Group::TITLE_MIN_LENGTH} characters.",
                                      "Title is too long" => "Title length must be at most #{Group::TITLE_MAX_LENGTH} characters.",
                                      "Description is too long" => "Description length must be at most #{Group::DESCRIPTION_MAX_LENGTH} characters." }
                 
               },
                           
                  ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>
<ul>
<li>
  <a href="doc/groups/@public/group_id/@members"><tt>/groups/@public/&lt;group_id&gt;/@members</tt></a> &ndash; 
  the member list of the group
</li>
</ul>
