<p>Have you logged in to 
<%= link_to "Kassi", "http://kassi.sizl.org"%>,
<%= link_to "Ossi", "http://ossi.sizl.org"%> or other OtaSizzle services before?</p>

<div id="buttons">
<div id="link_button_left">
   <% form_tag '/coreui/profile/link' do -%>
     <%= submit_tag "Yes" %>
   <% end %>
</div>

<div id="link_button_right">

   <% form_tag '/coreui/profile/new' do -%>
     <%= submit_tag "No" %>
  <% end %>
</div>
</div>
