<h1><%=@name %></h1>
<p class="summary"><%=@content %></p>

<% if @xml || @json %>
<h2>Representations</h2>

<% if @json %>
<a name="json"></a>
<strong>JSON representation:</strong> <br /><a href="javascript:$('jsonrep').toggle()">(toggle code)</a><br />
<textarea style="width:100%;height:200px;display:none;" id="jsonrep"><%=@json %></textarea><br />
<% end %>

<% if @xml %>
<a name="xml"></a>
<strong>XML representation:</strong> <br /><a href="javascript:$('xmlrep').toggle()">(toggle code)</a><br/>
<textarea style="width:100%;height:200px;display:none;" id="xmlrep"><%=@xml %></textarea>
<% end %>
<% end %>
