<h1>API</h1>


<h2>The API</h2>
<p>This API is based on a RESTful approach. Please edit me in templates/index.html.erb.erb. </p>


<h2>The resources</h2>
<ul>
<% @resources.each do |r| %>
  <li><h3>Resource:  <a href="/api/<%=r.name %>"><%=r.resource_location %></a></h3></li>
<% end %>
</ul>


<%=#DocUtil.print_erb "render :partial => \"sidebar\" ", true
  %>
