<%= doc_title '/channels/&lt;channel_id&gt;/@messages' %>

<p>A resource for accessing messages in a single channel in OtaSizzle.</p>

<%
methods = [ { :name => "GET", 
							:description => "Show messages. Currently lists all of the channel's messages' ids.",
							:returns => { "200" => "Returns messages.",
														"403" => "User has no access to channel.",
								 				 		"404" => "Channel not found." } 
						}, 
						{	:name => "POST",
							:description => "Post a message to channel",
							:parameters => [ { :title => "Message title" },
															 { :body => "Message content." },
															 { :attachment => "Attachment. Support for other types than urls is nonexistent."},
															 { :content_type => "Message's content type."},
															 { :reference_to => "Message id that this message is a reply to."}

															],
							:returns => { "201" => "Created. Response includes created message.",
								 						"400" => "Malformed request.",
								 						"403" => "User has no rights to post to channel.",
														"404" => "Channel not found."} 
							} ]

%>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>

<ul>
	<li><a href="doc/channels/channel_id/@messages/msg_id"><tt>/channels/&lt;channel_id&gt;/@messages/&lt;msg_id&gt;</tt></a> &ndash; Single message</li>
</ul>