<table class="inner_parameters">
  <% parameters.each do |inner_param|%>   
    <tr>    
    <% if inner_param.to_a[0][1].class == Array%>
      <th class="inner_parameters"><div class="inner_parameters"><%= inner_param.to_a[0][0] %></div></th>
      <td>
        <%= render :partial => "doc/inner_parameters", :locals => { :parameters => inner_param.to_a[0][1] } %>
      </td>
    <%else%>
     <th><%= inner_param.to_a[0][0] %></th>
      <td><%= inner_param.to_a[0][1] %></td>
    <%end%>
    </tr>
  <% end %>  
</table>
