<%= doc_title '/channels/&lt;channel_id&gt;' %>

<p>A resource for accessing a single channel in OtaSizzle. See access rights from <a href="/doc/channels">parent resource</a>.</p>

<%
methods = [ { :name => "GET", 
							:description => "Shows channel. Updated_at -field shows last message post.",
							:returns => { "200" => "Returns channel in json's entry -field.",
														"401" => "Login required.",
														"403" => "User has no access to channel.",
								 				 		"404" => "Channel not found" } 
						}, 
						{	:name => "DELETE",
							:description => "Delete channel. Only the admin of the channel can delete it.",
							:returns => { "200" => "Succesfully deleted channel.",
														"401" => "Login required.",
														"403" => "User has no admin rights to channel.",
								 						"404" => "Channel not found." } 
						},
						{	:name => "PUT",
							:description => "Modify channel. Only given parameters are affected.",
							:parameters => [ :channel => [{ :name => "Channel name" },
															 { :description => "Channel description" },
															 { :owner => "Channel owner."}]
														 ],
							:returns => { "200" => "Succesfully modified channel. Returns the modified channel in json's entry -field.",
								 						"400" => "Invalid fields. Errors are listed in json's messages -field.",
														"401" => "Login required.",
														"403" => "User has no admin rights to channel.",
								 						"404" => "Channel not found." } 
						}
					]

%>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>

<ul>
	<li><a href="doc/channels/channel_id/@messages"><tt>/channels/&lt;channel_id&gt;/@messages</tt></a> &ndash; Messages for a channel.</li>
	<li><a href="doc/channels/channel_id/@messages/msg_id"><tt>/channels/&lt;channel_id&gt;/@messages/&lt;msg_id&gt;</tt></a> &ndash; Single message.</li>
		<li><a href="doc/channels/channel_id/@subscriptions"><tt>/channels/&lt;channel_id&gt;/@subscriptions</tt></a> &ndash; Channel subscriptions.</li>
</ul>