<%= doc_title '/people/&lt;user_id&gt;/@groups/&lt;group_id&gt;' %>
<p>
  A resource for the membership of <tt>user_id</tt> in the group <tt>group_id</tt>.
</p>

<% methods = [ { :name => "DELETE",
                 :description => "Removes the person from the group. Any user can remove their own membership. An admin user can remove any other user in the group (even other admins).",
                 :returns => { "200" => "Ok.",
                               "404" => "Group or user was not found.",
                              }

               }
              ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>
