<%= doc_title '/groups/@public' %>
<p>
  A resource for accessing all the public groups. Public groups include those with type <code>open</code> or <code>closed</code>.
</p>

<% methods = [
                { :name => "GET",
                  :description => "Returns an array of all the public groups.",
                  :parameters => [ {:query => "A query to limit the group listing (optional). If this parameter is present, only groups whose title or description match the query are returned. The returned groups are sorted by relevance. Hidden groups that the possible logged-in user is a member of are present in the list."} ]},

                ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>
