<h1><code>/groups/&lt;group_id&gt;/@members</code></h1>

<p>Deprecated. Use <a href="doc/groups/@public/group_id/@members">/groups/@public/&lt;group_id&gt;/@members</a> instead.</p>

<p>
  A resource for accessing the member list of a single group specified by <tt>group_id</tt>
</p>

<% methods = [ { :name => "GET", 
                 :description => "Gets the member list of the group. ",
                 :returns => { "200" => "The returned JSON contains always an 'entry' slot, which contains a list of members
                                          or an empty list if the group has no members."}
                 
               },
              { :name => "POST",
                :description => "POST is not allowed for this resource, but to add members, see: <a href=\"doc/people/user_id/@groups\"><tt>/people/&lt;user_id&gt;/@groups</tt></a>"
                  
              },
              { :name => "DELETE",
                :description => "DELETE is not allowed for this resource, but to remove members, see: <a href=\"doc/people/user_id/@groups/group_id\"><tt>/people/&lt;user_id&gt;/@groups/&lt;group_id&gt;</tt></a>"
                
              }             
                  ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

