<%# if @rule %>
  <%#= @rule.to_json(@user) %>
<%# else %>
  <%#= {}.to_json %>
<%# end %>


<html>
  <head>
    <title>Core UI for OtaSizzle Common Services - Privacy Management: List Rules </title>
  </head>
  <body>
    show rule id:
    <p>rule name:</p>
  </body>
</html>