<%= doc_title '/people/&lt;user_id&gt;/@location/@location_security_token' %>
<p>
  A resource for accessing the user and client specific location security token.
</p>

<% methods = [ { :name => "GET",
                 :description => "Returns user and client specific security token for updating the users location.",
                 :returns => { "200" => "The returned JSON has a field location_security_token which contains UUID string that can be used as a security token"}
             } ]
%>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>
