<h1><code>/people/&lt;user_id&gt;/@avatar/small_thumbnail</code></h1>
<p>
  A resource for accessing a user's avatar image's smaller thumbnail file.
</p>

<% methods = [ 
                { :name => "GET", 

                  :description => "Gets a thumbnail of the avatar of the user. Thumbnail dimensions are 50x50."}                
               
             ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>
