<html>
  <head>
    <title>Common Services <%= render :partial => "layouts/version" %></title>
    <base href="http://maps.cs.hut.fi/cos/" />
    <link rel="stylesheet" href="stylesheets/cos.css" type="text/css" media="screen" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
