<html>
  <head>
    <title>Common Services <%= render :partial => "layouts/version" %></title>
    <link rel="stylesheet" href="/cos/stylesheets/cos.css" type="text/css" media="screen" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
