<h1><code>/appdata/&lt;app_id&gt;/@collections</code></h1>

<p>A resource for application-specific collections of data.</p>

<% methods = [ { :name => "GET",
                 :description => "Retrieves a list of all collections accessible in the current session. 
                                  The list may be empty.",
                 :returns => { "200" => "Ok." } },

               { :name => "POST",
                 :description => "Creates a new collection. All the parameters below are optional.",
                 :parameters => [ { :title => "The title describing the collection. (optional)", },
                                  { :owner => "The id of the user owning the new collection (optional). If this is not
                                               specified, the collection will belong only to the application." },
                                  { :read_only => "Whether the new collection is read only (optional). Read only collections can be written
                                                   to only by their owner; otherwise, the owner and their friends all have write
                                                   access. Values 'true', 't' and '1' or are interpreted as <code>true</code>, 
                                                   all other values are <code>false</code>." },
                                  { :indestructible => "This (optional) parameter can be set <code>true</code> only for collections
                                                        without owner. When set <code>true</code>,  the collection cannot be
                                                        destroyed with normal DELETE method.
                                                        This is meant to be used only for the main collections of the application.
                                                        If this parameter is not submitted, the default is <code>false</code>.
                                                        If submitted, an values 'true', 't' and '1' or are interpreted as <code>true</code>, 
                                                         all other values are <code>false</code>.."},
                                  { :metadata => [{ :any_key => "Any string" }, { :another_key => "Another string" } ] } ],
                 :returns => { "201" => "Ok." } } ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>
<li>
  <a href="doc/appdata/app_id/@collections/id"><tt>/appdata/&lt;app_id&gt;/@collections/&lt;id&gt;</tt></a> &ndash; 
  a specific collection
</li>

