<h1><code>/appdata/&lt;app_id&gt;/@collections</code></h1>

<p>A resource for application-specific collections of data.</p>

<% methods = [ { :name => "GET",
                 :description => "Retrieves a list of all collections accessible in the current session. 
                                  The list may be empty.",
                 :returns => { "200" => "Ok." } },

               { :name => "POST",
                 :description => "Creates a new collection.",
                 :parameters => [ { :owner => "The id of the user owning the new collection (optional). If this is not
                                               specified, the collection will belong only to the application." },
                                  { :read_only => "Whether the new collection is read only. Read only collections can be written
                                                   to only by their owner; otherwise, the owner and their friends all have write
                                                   access. An empty value, '0' or 'false' are interpreted as <code>false</code>, 
                                                   all other values are <code>true</code>." },
                                  { :metadata => [{ :any_key => "Any string" }, { :another_key => "Another string" } ] } ],
                 :returns => { "201" => "Ok." } } ] %>

<%= render :partial => "doc/methods", :locals => { :methods => methods } %>

<h2>Subresources</h2>
<li>
  <a href="doc/appdata/app_id/@collections/id"><tt>/appdata/&lt;app_id&gt;/@collections/&lt;id&gt;</tt></a> &ndash; 
  a specific collection
</li>

